html {
	background: #9478c9;
}

/* Paragraph details */
p {
	color: #000; 
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
}

h1 {
	font-family: "Karate Medium", sans-serif;
	color: #000;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
	letter-spacing: 3px;
}

body {
	background-color: #9478c9;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 17%;
	margin-right: 17%;
	font-family: "Linux Biolinum", sans-serif;
  	border-style: double;
  	border-radius: 25px;
  	padding: 20px;
  	border-width: 9px;
  	border-color: #635089;
  	background-color: #bea2f4;
}

a {
	color: #4b008b;
}

a:visited {
	color: #635089;
}

@font-face {
	font-family: 'Linux Biolinum'; /* normal */
	src: url('fonts/linux-libertine/linbiolinum_rah-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Biolinum'; /* italic */
	src: url('fonts/linux-libertine/linbiolinum_riah-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Linux Biolinum'; /* bold */
	src: url('fonts/linux-libertine/linbiolinum_rbah-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Karate Medium';
	src: url('fonts/karate/karate.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
